CU_ENDPOINT=<ACU_ENDPOINT>
CU_ANALYZER_ID=prebuilt-document
AZURE_TENANT_ID=<AZURE_TENANT_ID>

# Classification method: llm_text, llm_image, direct_classification
CLASSIFICATION_METHOD=direct_classification